---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { SITE, HOME} from "@consts";
import { Icon } from "@astrojs/starlight/components";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <div class="flex flex-col items-center space-y-4">
      <div class="animate">
        <img src="/turtle.png" alt="Turtle" class="w-16 h-16 rounded" />
      </div>
      <h4 class="animate font-semibold text-black dark:text-white">
        Hi, I'm Jason <span class="text-xl">👋🏻</span> 
      </h4>

    </div>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
          <p class="animate">
            I believe in building insanely great technology that inspires thoughtfulness and authenticity.
            Most of my work so far has been at the intersection of cycling and computer vision. Right now I'm building Velovision.
          </p>

          <p class="animate">
            The world is full of interesting problems to be solved.
            If you've got one that is near and dear to your heart, I want to hear from you.

            If you happen to be in Seoul, South Korea, we can meet up in person.
          </p>
          <p class="animate">
            I frequently <a href="/blog">blog</a> about my technical problem-solving journeys and other random things.
          </p>
        </article>
      </section>

      <section class="animate space-y-6 flex items-baseline space-x-2">
        <Icon name="email" class="relative top-[3px]" />
        <a href="mailto:tensorturtle@gmail.com" class="hover:underline">tensorturtle@gmail.com</a>
      </section>

      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest from the blog
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section>
    
    </div>
  </Container>
</PageLayout>
