---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/blog">
          blog
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/portfolio">
          portfolio
        </Link>
        <span>
          {`/`}
        </span>
        <a 
          href="/Janghyup_Sohn_Resume.pdf"
          download 
        >
        <Link href="/Janghyup_Sohn_Resume.pdf" >
          resume
        </Link>
        </a>
        <span>
          {`/`}
        </span>
        <Link href="https://github.com/tensorturtle">
          github
        </Link>
      </nav>
    </div>
  </Container>
</header>
