---
import { getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import ArrowCard from "@components/ArrowCard.astro";
import { WORK_PROJECTS } from "@consts";

const work_projects = (await getCollection("work_projects"))
  .filter(work_project => !work_project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<PageLayout title={WORK_PROJECTS.TITLE} description={WORK_PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        Work Projects
      </div>
      <ul class="animate flex flex-col gap-4">
        {
          work_projects.map((work_project) => (
            <li>
              <ArrowCard entry={work_project}/>
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</PageLayout>
